[submodule "lib/mingl"]
	path = lib/mingl
	url = https://github.com/Hayden-Allen/mingl.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/Hayden-Allen/imgui.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/nfd-ex"]
	path = lib/nfd-ex
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "lib/haul"]
	path = lib/haul
	url = https://github.com/Hayden-Allen/haul.git
[submodule "lib/hats"]
	path = lib/hats
	url = https://github.com/Hayden-Allen/hats.git
