[submodule "lib/mingl"]
	path = lib/mingl
	url = https://github.com/Hayden-Allen/mingl.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/Hayden-Allen/imgui.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
